In [1]:
#Include documentation for moons class

from moons.py import Moons

OperationalError: (sqlite3.OperationalError) no such table: moons
[SQL: SELECT * FROM moons]
(Background on this error at: https://sqlalche.me/e/14/e3q8)